* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

.container {
  padding-left: 150px;
}

.level {
  display: flex;
}

.description {
  width: 100px;
  background-color: aqua;
  margin: 10px;
  padding: 10px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
}

.card {
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 10px;
  background-color: green;
  border-radius: 15px;
}

a {
  display: flex;
  flex-direction: column;
  width: 2em;
	height: 2em;
	background-color: #4CAF50;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
  margin: 0.5em;
}

a a:not(:last-child) {
  border-bottom: none;
}

a a:hover {
  background-color: #3e8e41;
}

section { /* убрать схлопывание margin */
  display: inline-block;
  width: 100%;
}
.btn-group { /* зафиксировать панель слева по центру */

}
nav { /* стиль пунктов меню */
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 5%;
  left: 0.5em;
}
.red { /* стиль активного пункта меню */
  background-color: red;
}
