body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.circular-menu {
  position: relative;
  width: 300px;
  height: 300px;
}

.circular-menu__item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s;
  outline: none;
  color: white;
  background-color: blue;
}

.circular-menu__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: white;
  background-color: blue;
}
