@charset "UTF-8";
@import url("http://fonts.cdnfonts.com/css/roboto");
/* font-size */
/* font-height */
/* font-weight */
/* letter-spacing */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Light', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}

.page_contact__bg {
  background-image: url(img/ContactUs.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 471px;
}

.top {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, #EBF3FB), color-stop(31.12%, rgba(152, 195, 232, 0)));
  background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
  min-height: 768px;
}

.top__box, .top__navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top__navi {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding-top: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__info {
  padding-top: 115px;
  padding-bottom: 190px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-image: url(img/top_background.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.top__header, .top__button {
  letter-spacing: 0.04em;
}

.top__header {
  font-weight: 300;
  font-size: 64px;
  line-height: 74px;
  color: #1F3F68;
  width: 510px;
  margin-bottom: 32px;
}

.top__text {
  width: 425px;
}

.top__button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  background: #5A98D0;
  -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
          box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 15px 50px;
  text-decoration: none;
  display: inline-block;
  margin-top: 71px;
}

.middle {
  padding-top: 64px;
}

.middle__header {
  font-size: 36px;
  line-height: 46px;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-align: center;
  color: #000000;
}

.middle__content, .middle__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle__content {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 64px 0;
}

.middle__card__info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 359px;
  padding: 44px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}

.middle__card__img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 51px;
}

.middle__card__header {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #1F3F68;
  margin-bottom: 14px;
}

.middle__card__link {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  padding-top: 28px;
  color: #5A98D0;
  text-decoration: none;
}

.arrow {
  padding-left: 24px;
  height: 1em;
}

.project__paragraph {
  width: 75%;
  margin: 32px auto 64px;
  color: #222222;
  opacity: 1;
  text-align: center;
}

.project__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.project__item__margin {
  margin-right: 32px;
}

.project__img {
  width: 100%;
}

.project__text {
  position: absolute;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  text-align: right;
  color: #FFFFFF;
  top: 64px;
  right: 64px;
}

.project__parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 112px;
}

.project__text__child {
  top: 32px;
  left: 32px;
  right: auto;
  text-align: left;
}

.footer {
  background-color: #316099;
}

.footer__question__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 91px 0 96px;
}

.footer__question {
  width: 495px;
}

.footer__paragraph, .footer__button, .footer__list, .footer__all__rights {
  color: #FFFFFF;
}

.footer__button, .footer__all__rights {
  font-size: 16px;
  line-height: 26px;
}

.footer__button {
  letter-spacing: 0.04em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #5A98D0;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  opacity: 1;
  padding: 64px 0;
}

.footer__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 359px;
}

.footer__list__item__number {
  padding-right: 42px;
}

.footer__all__rights {
  font-weight: 400;
  letter-spacing: 0.05em;
  padding-bottom: 64px;
  opacity: 0.4;
}

.woek {
  font-weight: 400;
  letter-spacing: 0.05em;
  width: 340.96px;
  text-align: left;
  color: #FFFFFF;
  padding-bottom: 32px;
}

hr {
  opacity: 0.4;
  border: 1px solid #FFFFFF;
}

.contact__top {
  position: absolute;
  top: 162px;
  left: 293px;
  right: 293px;
}

.contact__top__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.contact__header, .contact__paragraph, .contact__card__header, .contact__card__paragraph {
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #FFFFFF;
  text-align: center;
}

.contact__header {
  font-size: 44px;
  line-height: 74px;
  font-weight: 500;
  padding-bottom: 16px;
}

.contact__paragraph, .contact__card__paragraph {
  opacity: 0.6;
}

.contact__paragraph {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  width: 780px;
}

.contact__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: -53px;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 100px 96px;
}

.contact__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__card__header, .contact__card__paragraph {
  width: 300px;
  text-align: left;
  color: #1F3F68;
}

.contact__card__header {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  padding: 40px 0 24px;
}

.contact__card__paragraph {
  font-family: 'Roboto Light', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}

.contact__img {
  padding-right: 18px;
  vertical-align: middle;
}

.send__us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 540px;
  height: 800px;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}

.send__us__content {
  padding: 56px;
}

.send__us__header, .send__us__paragraph, .send__us__button {
  letter-spacing: 0.04em;
  color: #1F3F68;
}

.send__us__header {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  padding-bottom: 16px;
}

.send__us__paragraph {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  opacity: 0.8;
  padding: 32px 0px 8px;
}

.send__us__input, .send__us__textarea {
  border: 1px solid #356EAD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
  padding: 21px 42px;
  width: 100%;
}

.send__us__textarea {
  height: 144px;
  resize: none;
}

.send__us__button {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  background: #5A98D0;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 100%;
  height: 72px;
  margin-top: 72px;
}

.address {
  padding-top: 56px;
}

.paragraph__padding {
  padding-bottom: 16px;
}

::-webkit-input-placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.2;
}

:-ms-input-placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.2;
}

::-ms-input-placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.2;
}

::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.2;
}

.maps {
  padding: 0 100px 112px;
}

/* Планшетыч */
@media (max-width: 1025px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .top__info {
    background-position: right 280px;
    background-size: 44%;
  }
  .middle__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 127px;
  }
  .middle__card__info {
    margin-bottom: 32px;
  }
  .project__text__child {
    font-size: 28px;
    line-height: 46px;
    font-weight: 400;
    top: 19px;
    left: 19px;
  }
  .footer__question__area {
    padding: 47px 92px 64px;
  }
  .footer__question {
    width: 336px;
  }
  .footer__button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 133px;
    height: 32px;
    padding: 0;
  }
  .footer__two {
    padding: 64px 124px;
  }
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .footer__list__item {
    width: 515px;
    margin-bottom: 25px;
  }
  .footer__list__item__number {
    padding-right: 37px;
  }
  .footer__all__rights {
    padding-top: 39px;
    padding-bottom: 0;
  }
  .contact__header, .contact__paragraph {
    width: 520px;
  }
  .contact__content {
    margin-top: -58px;
  }
  .contact__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .contact__area {
    padding-bottom: 64px;
  }
  .send__us {
    width: 520px;
    height: 780px;
  }
  .send__us__content {
    padding: 54px;
  }
  .send__us__header {
    width: 178px;
    padding-bottom: 0;
  }
  .send__us__input, .send__us__textarea {
    padding: 21px 40px;
  }
  .send__us__textarea {
    height: 140px;
    resize: none;
  }
  .send__us__button {
    height: 70px;
  }
  .enter {
    padding-top: 17px;
  }
  iframe {
    height: 392px;
  }
  .special {
    max-width: 100vw;
    margin-left: -32px;
    margin-right: -32px;
    padding: 64px 0;
  }
}

/* Мобилка */
@media (max-width: 667px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    min-height: 376px;
    padding-bottom: 41px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .top__navi {
    padding-top: 24px;
  }
  .top__info {
    padding-top: 36px;
    padding-bottom: 0;
    background-image: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top__header {
    width: 100%;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 12px;
    text-align: center;
  }
  .top__text {
    width: 100%;
    text-align: center;
  }
  .top__button {
    font-size: 12px;
    line-height: 26px;
    padding: 0 8px;
  }
  .middle {
    padding-top: 48px;
  }
  .middle__header {
    padding: 0;
    font-size: 24px;
    line-height: 28px;
  }
  .middle__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .middle__card__info {
    width: 100%;
    padding: 44px 32px 22px;
  }
  .arrow {
    padding-left: 14px;
  }
  .project__paragraph {
    width: 100%;
  }
  .project__item__margin {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .project__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    top: 16px;
    right: 16px;
  }
  .project__parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 16px;
    margin-bottom: 64px;
  }
  .footer__question__area {
    padding: 18px 0 41px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__question {
    padding-bottom: 40px;
    text-align: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 108px;
    padding: 0;
  }
  .footer__two {
    padding: 32px 15px;
  }
  .footer__list__item {
    width: 100%;
    margin-bottom: 18px;
  }
  .footer__list__item__number {
    padding-right: 42px;
  }
  .footer__all__rights {
    padding-top: 19px;
    text-align: center;
  }
  .woek {
    text-align: center;
    width: 70%;
    padding-bottom: 32px;
  }
  .contact__top {
    position: static;
    padding-top: 78px;
  }
  .contact__header, .contact__paragraph {
    width: 340px;
  }
  .contact__header {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 32px;
  }
  .contact__paragraph {
    font-size: 16px;
  }
  .contact__content {
    margin-top: -58px;
  }
  .contact__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .contact__area {
    padding-bottom: 32px;
  }
  .send__us {
    width: 342px;
    height: 514px;
  }
  .send__us__content {
    padding: 36px;
  }
  .send__us__header {
    font-size: 16px;
    width: 217px;
    padding: 0;
  }
  .send__us__paragraph {
    font-size: 14px;
    padding: 20px 0 0;
  }
  .send__us__input, .send__us__textarea {
    padding: 13px 22px;
    height: 46px;
  }
  .send__us__textarea {
    height: 92px;
    resize: none;
  }
  .send__us__button {
    height: 46px;
    margin: 35px 0;
  }
  .enter {
    padding-top: 32px;
  }
  iframe {
    height: 349px;
  }
  .special {
    margin-left: -16px;
    margin-right: -16px;
    padding: 32px 0;
  }
  ::-webkit-input-placeholder {
    font-size: 14px;
  }
  :-ms-input-placeholder {
    font-size: 14px;
  }
  ::-ms-input-placeholder {
    font-size: 14px;
  }
  ::placeholder {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */