* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-style: normal;
}

.h1_main {
  font-weight: 300;
  font-size: 64px;
  color: #1F3F68;
  width: 510px;
  line-height: 74px;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
}

.h2_contacts {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}

.h3_main {
  font-size: 36px;
  text-align: center;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #000000;
}

.text {
  font-size: 16px;
  line-height: 26px;
  color: #1F3F68;
  letter-spacing: 0.05em;
  opacity: 0.6;
}

.text__project {
  width: 75%;
  margin: 32px auto 64px;
  color: #222222;
  opacity: 1;
  text-align: center;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.top {
  background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
  min-height: 768px;
}

.top__box {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 42px;
}

.top__info {
  padding-top: 115px;
  padding-bottom: 190px;
  flex-grow: 1;
  background-image: url(img/top_background.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.top__button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #5A98D0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 15px 50px;
  text-decoration: none;
  display: inline-block;
  margin-top: 71px;
}

.top__text {
  width: 425px;
}

.middle {
  padding-top: 64px;
}

.middle__content {
  display: flex;
  justify-content: space-around;
  padding-top: 64px;
  padding-bottom: 64px;
}

.card__h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #1F3F68;
  letter-spacing: 0.05em;
  margin-bottom: 14px;
}

.card__info {
  display: flex;
  flex-direction: column;
  width: 359px;
  padding: 44px 32px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}

.card__link {
  padding-top: 28px;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
  text-decoration: none;
}

.arrow {
  padding-left: 24px;
  height: 1em;
}

.card__img {
  align-self: center;
  margin-bottom: 51px;
}

.project__item {
  position: relative;
  flex-grow: 1;
}

.project__item__margin {
  margin-right: 32px;
}

.project__text {
  position: absolute;
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  top: 64px;
  right: 64px;
}

.text__child {
  top: 32px;
  left: 32px;
  right: auto;
  text-align: left;
}

.project__parent {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 112px;
}

.project__img {
  width: 100%;
}

.footer {
  background-color: #316099;
}

.question__area {
  display: flex;
  justify-content: space-between;
  padding: 91px 0 96px;
}

.footer__button {
  align-self: center;
  background: #5A98D0;
  color: #FFFFFF;
  padding: 15px 80px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  text-decoration: none;
}

.woek {
  width: 340.96px;
  text-align: left;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  padding-bottom: 32px;
}

.question {
  width: 495px;
}

.quest {
  color: #FFFFFF;
}

hr {
  opacity: 0.4;
  border: 1px solid #FFFFFF;
}

.contact__area {

}

.list {
  display: flex;
  justify-content: space-between;
  list-style-type: decimal;
  color: #FFFFFF;
  opacity: 1;
  padding: 64px 114px;
}

.list__item {
  display: flex;
  width: 359px;
}

.all__rights {
  padding-bottom: 64px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.4;
}

/* Планшетыч */
@media (max-width: 1025px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .top__info {
    background-position: right 280px;
    background-size: 44%;
  }

  .middle__content {
    flex-direction: column;
    align-items: center;
    padding-bottom: 127px;
  }

  .card__info {
    margin-bottom: 32px;
  }

  .text__child {
    font-weight: 400;
    font-size: 28px;
    line-height: 46px;
    top: 19px;
    left: 19px;
  }

  .question__area {
    justify-content: space-between;
    padding: 47px 92px 64px;
  }

  .question {
    width: 336px;
  }

  .footer__button {
    align-items: center;
    width: 133px;
    height: 32px;
    padding: 0;
  }
}
/* Мобилки */
@media (max-width: 667px) {
  .top {
    min-height: 376px;
    padding-bottom: 41px;
    box-sizing: border-box;
  }

  .menu {
    padding-top: 24px;
  }

  .h1_main {
    width: 100%;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 12px;
    text-align: center;
  }

  .top__info {
    padding-top: 36px;
    padding-bottom: 0;
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top__text {
    width: 100%;
    text-align: center;
  }

  .top__button {
    font-size: 12px;
    line-height: 26px;
    padding: 0 8px;
  }

  .middle__content {
    flex-direction: column;
    align-items: center;
  }

  .card__info {

  }

  .h3_main {

  }
}


/* Contacts page */

.contacts__form {
  display: flex;
  justify-content: space-around;
}

.input-area {
  border: 1px solid #356EAD;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}

.submit {
  background: #5A98D0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}
