* {
  margin: 0;
  padding: 0;
}

.container {

}

.level {
  display: flex;
  margin: 10px;
  padding: 10px;
}

.description {
  width: 250px;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
}

.btn {

}
